<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <img src="https://seeklogo.com/images/B/burger-take-away-logo-BC2585FC88-seeklogo.com.jpg" class="rounded"
          alt="S.K.B-Burger">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <button class="btn btn-dark btn-lg" (click)="onOrderNow()">+ Order Now</button>
        </div>
      </div>
    </div>
  </div>
</div>
